PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=1234
DB_NAME=postgres

JWT_SECRET=i-love-htl
JWT_EXPIRES_IN=15m

BCRYPT_SALT=10

CLOUDINARY_CLOUD_NAME=dmu3tjrgn
CLOUDINARY_API_KEY=667971933957938
CLOUDINARY_API_SECRET=Wg8ju7qg-rQq2676mYnRiwJAnDs

GOOGLE_CLIENT_ID=254086067290-5chd31mte61oaqjs6s23atmhtoee03rm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

FRONTEND_URL=http://localhost:5173